<?php $this->extend('Templates/'.$entidade_tipo.'/layout'); ?>
<div class="row">
	<div class="col-md-12">
		<ul class="media-list">
		<?php // Notícias ?>
		<?php echo $this->fetch('news'); ?>
		</ul>
	</div>
</div>
